.content {
      height: 2000px;  
      background: blue;
      padding: 20px;
    }
    
html {
  scroll-behavior: smooth;
}

.header {
      position: sticky; 
      top: 0;           
      background-color: #4CAF50;
      color: white;
      padding: 20px;
      font-size: 24px;
      text-align: center;
      z-index: 1;    
    }